section{
  height: 100%;
}

.teste{
  width: 80vw;
  height: 60vh;
  background-color: rgb(28, 163, 190);
  border: chartreuse solid 2px;
  position: relative;
  margin: auto;
  margin-bottom: 50px;
}

.teste nav{
  border-bottom: chartreuse 5px solid;
  display: flex;
  justify-content: center ;
  align-items: center;
}
.teste nav a{
  width: 50%;
  margin: 10px 0 10px 0;
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.teste nav a:hover{
  color: chartreuse;
  text-shadow: 0 0 0.5em chartreuse, 0 0 0.5em chartreuse;
  transition: 0s;
}

.texto-serie{
  width: 600px;
  padding: 10px;
}
.sobre-serie{
  width: 80vw;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 1000px){
  .teste{
    height: auto;
  }
}