*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('./assets/cropped-RM_page-header_background1-3.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.titulo{
  width: 320px;
  height: auto;
  position: relative;
  top: 250px;
  color: chartreuse;
  text-shadow: 0 0 0.5em chartreuse, 0 0 0.5em chartreuse;
  letter-spacing: 10px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.titulo-2{
    width: 320px;
    height: auto;
    position: relative;
    /* top: 250px; */
    color: chartreuse;
    text-shadow: 0 0 0.5em chartreuse, 0 0 0.5em chartreuse;
    letter-spacing: 10px;
    margin: 0 auto;
    margin-bottom: 100px;
}